---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on my
    <a href="https://scholar.google.com/citations?user=aXGTpLgAAAAJ&hl=en">
      Google Scholar
    </a> profile.
  </div>
{% endif %}

{% include base_path %}

<h2>Jump to:</h2>
<ul class="inline-list">
  {% assign categories = "LLM, Communication, Behavioral, Political Science, Marketing" | split: ", " %}
  {% for category in categories %}
    <li><a href="#{{ category | downcase | replace: ' ', '-' }}">{{ category }}</a></li>
  {% endfor %}
  <li><a href="#other">Other</a></li>
</ul>

<!-- Loop through categories -->
{% for category in categories %}
  {% assign found = false %}

  {% assign sorted_publications = site.data.david_publications3 | where: "Group", category | sort: "Year" | reverse %}

  {% for row in sorted_publications %}
    {% if found == false %}
      <h2 id="{{ category | downcase | replace: ' ', '-' }}">{{ category }}</h2>
      <hr />
      {% assign found = true %}
    {% endif %}

    {% include david-pub.html row=row %}
  {% endfor %}
{% endfor %}

<!-- Handle Uncategorized Entries -->
{% assign found_other = false %}
{% assign sorted_other_publications = site.data.david_publica3 | sort: "Year" | reverse %}
{% for row in sorted_other_publications %}
  {% unless categories contains row.Group %}
    {% if found_other == false %}
      <h2 id="other">Other</h2>
      <hr />
      {% assign found_other = true %}
    {% endif %}

    {% include david-pub.html row=row %}
  {% endunless %}
{% endfor %}

<style>
.inline-list {
  list-style-type: none;
  padding: 0;
}

.inline-list li {
  display: inline;
  margin-right: 10px;
}
</style>