---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="https://scholar.google.com/citations?user=aXGTpLgAAAAJ&hl=en">
      my Google Scholar profile
    </a>.
  </div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>

<!-- Define categories as an array of dictionaries -->
{% assign publication_groups = 
  [
    {"key": "llm", "title": "LLM"},
    {"key": "communication", "title": "Communication"},
    {"key": "behavior", "title": "Behavioral"},
    {"key": "political_science", "title": "Political Science"},
    {"key": "marketing", "title": "Marketing"}
  ]
%}

<!-- Initialize a dictionary to store categorized publications -->
{% assign publications_by_group = {} %}

<!-- Initialize each category key in the dictionary -->
{% for group in publication_groups %}
  {% assign empty_list = "" | split: "," %}
  {% assign publications_by_group = publications_by_group | merge: group.key, empty_list %}
{% endfor %}

<!-- Initialize other publications list -->
{% assign other_publications = "" | split: "," %}

<!-- Categorize publications -->
{% for post in site.publications reversed %}
  {% assign matched = false %}
  {% assign post_group = post.group | downcase | strip %}

  {% for group in publication_groups %}
    {% if post_group == group.key %}
      {% assign updated_list = publications_by_group[group.key] | push: post %}
      {% assign publications_by_group = publications_by_group | merge: group.key, updated_list %}
      {% assign matched = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% unless matched %}
    {% assign other_publications = other_publications | push: post %}
  {% endunless %}
{% endfor %}

<!-- Display publications by group -->
{% for group in publication_groups %}
  {% assign group_publications = publications_by_group[group.key] %}
  {% if group_publications.size > 0 %}
    <h2>{{ group.title }}</h2>
    <hr />
    {% for post in group_publications %}
      {% include david-pub.html %}
    {% endfor %}
  {% endif %}
{% endfor %}

<!-- Display unmatched publications -->
{% if other_publications.size > 0 %}
  <h2>Other</h2>
  <hr />
  {% for post in other_publications %}
    {% include david-pub.html %}
  {% endfor %}
{% endif %}
