{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Title, Authors, and Link -->
    <p style="display: flex; align-items: center; flex-wrap: wrap;">
      <strong style="margin-right: 10px;">
        {% if post.pdf %}
          <a href="{{ post.pdf }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </strong>
      {% assign authors = post.co-authors | join: ", " | strip_newlines | replace: " ,", "," | replace: ", ,", "," | replace: ", ,", "," %}
      {% if authors != "" %}
        <span style="margin-right: 10px;"> - With {{ authors }}. {{ post.year }}.</span>
      {% else %}
        <span style="margin-right: 10px;"> - {{ post.year }}.</span>
      {% endif %}
      
      <!-- Link to Publication Page and Copy Citation to Clipboard -->
      <span style="margin-right: 10px;">
        {% if post.published_link %}
          <button onclick="window.open('{{ post.published_link }}', '_blank')">Link</button>
        {% else %}
          <button disabled>Link</button>
        {% endif %}
      </span>
      <span style="margin-right: 10px;">
        {% if post.apa_citation %}
          <button onclick="copyToClipboard('{{ post.apa_citation | escape }}')">Cite this</button>
        {% endif %}
      </span>
    </p>

    <!-- Disciplines (if available) -->
    {% if post.group %}
      <p><strong>Disciplines:</strong> {{ post.group }}</p>
    {% endif %}

  </article>
</div>

<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
      alert('Citation copied to clipboard');
    }, function(err) {
      console.error('Could not copy text: ', err);
    });
  }
</script>