{% include base_path %}

{% assign title = row.Title %}
<div class="list__item">
  <article class="archive__item">
    <p>
      <strong>
        {% if row.PDF %}
          <a href="{{ row.PDF }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </strong>
      {% if row["Co-Author1"] %}
        <span> - With {{ row["Co-Author1"] }}
          {% if row["Co-Author2"] %},{{ row["Co-Author2"] }}{% endif %}
          {% if row["Co-Author3"] %},{{ row["Co-Author3"] }}{% endif %}
          {% if row["Co-Author4"] %},{{ row["Co-Author4"] }}{% endif %}
          {% if row["Co-Author5"] %},{{ row["Co-Author5"] }}{% endif %}
          {% if row["Co-Author6"] %},{{ row["Co-Author6"] }}{% endif %}
        </span>
      {% endif %}
      <span> - {{ row.Venue }}. {{ row.Year }}. {{ row.Category }} </span>
      
      {% if row["Published Link"] %}
      <button onclick='window.open("{{ row["Published Link"] }}", "_blank")'>Link</button>
            {% else %}
        <button disabled>Link</button>
      {% endif %}

      {% if row["APA Citation"] %}
        <button onclick="copyToClipboard('{{ row["APA Citation"] | escape }}')">Cite this</button>
      {% endif %}
    </p>
  </article>
</div>







<!-- if this gets big, create separate CSS file -->
<style>
  button {
    background: none;
    border: 1px solid #555;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background: #555;
    color: white;
  }

  button:disabled {
    border-color: #aaa;
    color: #aaa;
    cursor: not-allowed;
  }
</style>






<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
      alert('Citation copied to clipboard');
    }, function(err) {
      console.error('Could not copy text: ', err);
    });
  }
</script>




