{% include base_path %}

{% if post.id %}
  {% assign title = post.Title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.Title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Title & Link -->
    <p>
      <strong>
        {% if post.Published_Link %}
          <a href="{{ post.Published_Link }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </strong>
    </p>

    <!-- Authors -->
    {% assign authors = "" %}
    {% if post.Co-Author1 %}{% assign authors = authors | append: post.Co-Author1 %}{% endif %}
    {% if post.Co-Author2 %}{% assign authors = authors | append: ", " | append: post.Co-Author2 %}{% endif %}
    {% if post.Co-Author3 %}{% assign authors = authors | append: ", " | append: post.Co-Author3 %}{% endif %}
    {% if post.Co-Author4 %}{% assign authors = authors | append: ", " | append: post.Co-Author4 %}{% endif %}
    {% if post.Co-Author5 %}{% assign authors = authors | append: ", " | append: post.Co-Author5 %}{% endif %}
    {% if post.Co-Author6 %}{% assign authors = authors | append: ", " | append: post.Co-Author6 %}{% endif %}
    
    {% if authors != "" %}
      <p>With {{ authors }}. {{ post.Year }}.</p>
    {% else %}
      <p>{{ post.Year }}.</p>
    {% endif %}

    <!-- APA Citation -->
    {% if post.APA_Citation %}
    <p><strong>APA Citation:</strong> {{ post.APA_Citation }}</p>
  {% endif %}
  

    <!-- Publication Link -->
    <!-- {% if post.Published_Link %}
      <p><a href="{{ post.Published_Link }}">Publication Page</a></p>
    {% endif %} -->

    <!-- Disciplines (Assuming you have a `Disciplines` field in your markdown) -->
    {% if post.Group %}
      <p><strong>Disciplines:</strong> {{ post.Disciplines | join: ", " }}</p>
    {% endif %}

    {% if post.PDF and post.PDF != "." %}
    <p><a href="{{ post.PDF }}">Download Paper</a></p>
  {% endif %}
  
  </article>
</div>
